node_modules
dist
.angular
coverage
.vscode
.idea
.git
.github
.gitignore
.gitattributes
**/.env
**/.env.*
**/*.local
**/*.local.*
npm-debug.log
yarn-error.log
*.log
Dockerfile
docker-compose*.yml
README.md
sonar-project.properties
.scannerwork
